.meu-iframe > div {
	height: 100%;
}

.myApp .viewSelecaoModulo .painelModulos {
	text-align: center;
	/*top: 15%;*/
	margin-top: 7rem;
}

.meu-iframe,
.meu-iframe > div {
	height: 100%!important;
}

.myApp .loginView .myLoginForm {
	width: 280px!important;
	border: 1px;
	border-style: groove;
	border-radius: 3px;
	box-shadow: 0 0 15px #ccc;
	padding-bottom: 1.5rem;
	margin:auto;
	/*top: 20%;*/
	top: 30%;
}

.myApp .custom-generic-tile span {
	height: 30px;
    width: 134px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -67px;
    margin-top: -15px;
    font-size: 1.4rem;
    text-align: center;
    color: rgba(0, 126, 122, 1);
}

.myApp .custom-title-vgt {
	font-size: 1.7rem;
	color: rgba(0, 126, 122, 1);
	font-weight: bold;
}

.bulletItem {
    display: list-item !important;
    list-style-type: disc !important;
    list-style-position: outside !important;
    margin-left: 20px !important;
}

.myApp .sapMInputBaseReadonly,
.myApp .sapMInputBaseReadonly .sapMInputBaseContentWrapper,
.myApp .sapMInputBaseReadonlyWrapper,
.myApp .sapMInputBaseDisabled,
.myApp .sapMInputBaseDisabledWrapper,
.myApp .sapMSltDisabled {
	opacity: 1;
	background: rgba(175,175,175,0.5);
}

/* Esconde a 'setinha' de direção em tabelas de navegação */
.myApp .sapMLIBImgNav.sapMLIBType.sapUiIcon.sapUiIconMirrorInRTL {
	display: none;
}

.myApp .negrito {
	font-weight: bold;
}

.myApp .painelModulo {
    border-radius: 0.125rem;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.myApp .tituloModulo {
	position: relative;
	top: 40%;
	font-size: 1.3rem;
}

/* Troca a cor do links no breadcrumb pelo verde da vale */
 /* Trocar pelo hexa exato da vale */
 /* Removido */
/*.myApp .sapMBreadcrumbsItem a,
.myApp .sapMBreadcrumbsItem .sapMLnk:hover:not(.sapMLnkDsbl) {
	color: green;
}*/

.myApp .rightAlignedInput input {
	text-align: right;
}

.myApp .bordered {
	border: 2px;
	border-style: groove;
	border-radius: 3px;
	box-shadow: 0 0 15px #ccc;
}

.myApp .smallPadding {
	padding: 0.5rem;
}

/* Em 'view/admin/Empresa.view.xml' o NavContainer não exibia as 
páginas agregadas com o 'position' original... procurar entender melhor o problema */
.myApp .fixNavContainer {
	position: inherit;
}

/* Completa os espaços entre as celulas de tabelas com linhas */
.myApp .celulasSeparadas .sapMListTblCell  {
    border-left: 1px solid #ccc;
}

/* Aplicar classe ~customHeaderHeight~ aos controles do tipo Page quando for preciso
setar um cabeçalho customizado com maior altura para acomodar mais informação */
.myApp .customHeaderHeight .sapMSubHeader-CTX {
	height: 6rem;	
}

.myApp .customHeaderHeight .sapMPageEnableScrolling {
	top: 6rem;
}

.myApp .semContentPadding .sapFDynamicPageContent,
.myApp .semContentPadding .sapFDynamicPageContentFitContainer {
	padding: 0 !important;
}

.myApp .celulaDestacada {
	color: #147575;
}

.myApp .viewTTCResumoTrimestre .tabelaPeriodoMinHeight {
	min-height: 293px;
}